<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>의류</key>
	<dict>
		<key>상의</key>
		<array>
			<string>후드</string>
			<string>맨투맨</string>
			<string>박스티</string>
		</array>
		<key>하의</key>
		<array>
			<string>트레이닝팬츠</string>
			<string>진</string>
		</array>
		<key>원피스</key>
		<array>
			<string>점프수트</string>
			<string>스커트</string>
		</array>
		<key>아우터</key>
		<array>
			<string>야구점퍼</string>
			<string>항공점퍼</string>
			<string>돕바</string>
			<string>바람막이</string>
			<string>후드집업</string>
		</array>
	</dict>
	<key>잡화</key>
	<dict>
		<key>잡화/신발</key>
		<array>
			<string>목도리</string>
			<string>장갑</string>
			<string>지갑</string>
		</array>
		<key>가방</key>
		<array>
			<string>에코백</string>
			<string>백팩</string>
			<string>크로스백</string>
			<string>파우치</string>
		</array>
		<key>악세사리</key>
		<array>
			<string>뱃지</string>
			<string>밴드</string>
			<string>팔찌</string>
			<string>목걸이</string>
			<string>귀걸이</string>
			<string>기타</string>
		</array>
	</dict>
	<key>문구/생활</key>
	<dict>
		<key>리빙</key>
		<array>
			<string>보틀</string>
			<string>쿠션</string>
			<string>인형</string>
		</array>
		<key>문구</key>
		<array>
			<string>공책,파일</string>
			<string>마스킹테이프</string>
			<string>펜</string>
			<string>리폼지</string>
			<string>다이어리</string>
		</array>
	</dict>
	<key>전자제품</key>
	<dict>
		<key>악세사리</key>
		<array>
			<string>폰케이스</string>
			<string>노트북파우치</string>
			<string>고리</string>
			<string>아이링</string>
			<string>이어폰감개</string>
		</array>
		<key>보조배터리</key>
		<array/>
		<key>Spain</key>
		<array>
			<string>Madrid</string>
			<string>Barcelona</string>
			<string>Valencia</string>
		</array>
	</dict>
</dict>
</plist>
